/* Custom layout - red.css */

#header,
.navigation .wp-pagenavi .current,
.navigation .wp-pagenavi a:hover,
#footer  {
	background:#ff0000;
}

a:link,
a:active,
a:visited,
#content h1.entry-title a,
#content h2.entry-title a,
#sidebar a:link,
#sidebar a:visited  {
    color: #ff0000;
    text-decoration: none;
}

a:hover,
#sidebar a:hover  {
	text-decoration: underline;
}

#content h1.entry-title a:hover,
#content h2.entry-title a:hover {
    color: #000;
	text-decoration: none;
}

#sidebar .sidebar-inner ul ul li {
    background: url(../images/arrow-red.png) no-repeat 0 13px;
}